.orange {
  color: #ed771a;
}

.purp {
  color: #9d5994;
}

.green {
  color: #bede06;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 3em;
}

p {
  line-height: 1.8em;
}

.wrapper {
  margin: auto;
}

.block.hero {
  position: relative;
  overflow: hidden;
}

.block.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  z-index: 1;
  opacity: 0.3;
}

.block.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
}

.block.hero .row .col.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block.hero .row .col.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.hero .row .col.content {
  position: relative;
  margin: 0 auto;
  z-index: 10;
  max-width: 800px;
}

.block.hero .row .col.content .title {
  color: #ffce05;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4rem;
  line-height: 1em;
}

@media screen and (max-width: 500px) {
  .block.hero .row .col.content .title {
    font-size: 2.5rem;
  }
}

.block.hero.style-2 .row .col.content {
  color: #fff;
  background-color: rgba(38, 38, 38, 0.7);
  z-index: 99;
  position: relative;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}

@media screen and (max-width: 700px) {
  .block.hero.style-2 .row .col.content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.block.hero.style-2 .row .col.content .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 3rem;
  line-height: 1em;
}

.block.hero.style-2 .row .col.content .description {
  width: 50%;
  max-width: 70ch;
}

.block.hero.style-3 .row .col.content {
  color: #fff;
  background-color: rgba(157, 89, 148, 0.7);
  z-index: 99;
  position: relative;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.block.hero.style-3 .row .col.content .title {
  color: #fff;
  text-transform: none;
  font-weight: lighter;
  font-size: 3rem;
  line-height: 1em;
}

.block.hero.style-3 .row .col.content .description {
  max-width: 70ch;
}

.block.hero.style-3 .row .col.content > * {
  margin: 0.5rem;
  padding-left: 5rem;
}

@media screen and (max-width: 700px) {
  .block.hero.style-3 .row .col.content > * {
    padding-left: 0;
  }
}

footer {
  background-color: #262626;
  color: #fff;
  padding: 2rem;
}

footer .row {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 700px) {
  footer .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer .contact-info {
  color: #bede06;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-icons span {
  display: block;
  padding: 0.1rem 1rem;
}

footer .contact-title {
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer .privacy {
  text-transform: uppercase;
}

.block.services {
  color: #fff;
  background-color: #262626;
  padding: 4rem 1rem;
}

.block.services .row.services-header {
  max-width: 70ch;
}

.block.services .row.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .block.services .row.services-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block.services .row.services-info .col .title {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1em;
}

.block.services .row.services-info .col.more-tab {
  background-color: rgba(0, 0, 0, 0.7);
  height: 150px;
  width: 150px;
  padding: 1rem;
  margin: 100px auto 0 auto;
}

.block.services .row.services-info .flip-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: 10 0;
          transform-origin: 10 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 900px) {
  .block.services .row.services-info .flip-flex {
    -webkit-transform: none;
            transform: none;
  }
}

.block.services .row.services-info .see-more {
  text-transform: uppercase;
}

.block.case-studies {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

.block.case-studies .row .col.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block.case-studies .row .col.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.case-studies .row .col.overlay {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  padding: 0.7rem 1rem;
  z-index: 10;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .block.case-studies .row .overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
}

.block.case-studies .row .title {
  font-size: 3rem;
  line-height: 1em;
}

.block.case-studies .row .content {
  text-transform: uppercase;
  max-width: 70ch;
}

.block.case-studies .row .case-name {
  color: white;
  position: relative;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.block.more-studies {
  position: relative;
}

.block.more-studies .row {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .block.more-studies .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block.more-studies .row .col.subheader {
  background-color: #bede06;
  padding: 2rem;
  min-height: 30vh;
  min-width: 350px;
}

.block.more-studies .row .col.subheader .title {
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: right;
  font-size: 3rem;
  line-height: 1em;
}

.block.more-studies .row .col.hide-mobile {
  display: block;
}

@media screen and (max-width: 900px) {
  .block.more-studies .row .col.hide-mobile {
    display: none;
  }
}

.block.more-studies .row .col.hide-mobile .image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block.more-studies .row .col.hide-mobile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.more-studies .row .col.hide-mobile .content {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 51;
  padding: 0.9rem;
  bottom: 0;
  left: 0;
}

.block.more-studies .row .col.hide-mobile .content:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  z-index: 20;
  opacity: 0.5;
}

.block.blog-teasers {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.block.blog-teasers .row .col.teasers-header .title {
  font-size: 2.5rem;
  margin-left: 4rem;
}

.block.blog-teasers .row .col.teasers-header .content {
  max-width: 90ch;
}

.block.blog-teasers .row.teasers {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  max-width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  .block.blog-teasers .row.teasers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block.blog-teasers .row.teasers .col.teaser-deets {
  position: relative;
  width: 100%;
  height: 100%;
}

.block.blog-teasers .row.teasers .col.teaser-deets .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.block.blog-teasers .row.teasers .col.teaser-deets .headline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #47c4f2;
  z-index: 1;
  opacity: 0.4;
}

.block.blog-teasers .row.teasers .col.teaser-deets img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.blog-teasers .row.teasers .more-news {
  text-align: right;
  padding: 2rem;
  text-transform: uppercase;
  font-style: italic;
}

.block.logo-gallery {
  position: relative;
  background-color: #262626;
  color: #fff;
  padding: 0.7rem;
}

.block.logo-gallery .row.logo-header {
  padding: 1rem;
}

.block.logo-gallery .row.logo-header .col .title {
  color: #bede06;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.block.logo-gallery .logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.block.logo-gallery .logo-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 900px) {
  .block.logo-gallery .logo-box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .block.logo-gallery .logo-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.block.more-news {
  position: relative;
  color: #fff;
}

.block.more-news .row .col.culture {
  background-color: #bede06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

@media screen and (max-width: 700px) {
  .block.more-news .row .col.culture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block.more-news .row .col.culture .title {
  font-size: 2.5rem;
  font-weight: lighter;
  line-height: 1em;
  width: 100%;
}

.block.more-news .row .col.culture .content {
  text-transform: uppercase;
  max-width: 500px;
}

.block.more-news .row.photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 700px) {
  .block.more-news .row.photos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block.more-news .row.photos .col.news-blurb .headline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  color: #fff;
}

.block.more-news .row.photos .col.news-blurb .headline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #47c4f2;
  z-index: 1;
  opacity: 0.4;
}

.block.more-news .row.photos img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.checkerbox .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block.checkerbox .details .subheader {
  font-size: 2rem;
}

.block.checkerbox .details .tags {
  font-weight: bold;
}

.block.checkerbox .details.light {
  background-color: #fff;
  color: #262626;
}

.block.checkerbox .details.dark {
  background-color: #262626;
  color: #fff;
}

.block.checkerbox .details.dark.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block.checkerbox .details .content {
  padding: 1rem;
}

.block.checkerbox .details img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.services-hero {
  color: #262626;
  background-color: #bede06;
  height: 100vh;
  font-weight: lighter;
}

.block.services-hero .row {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.block.services-hero .row .col .headline {
  max-width: 8ch;
  font-size: 3rem;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 2rem 0;
}

.block.services-hero .row .col .services-about {
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .block.services-hero .row .col .services-about {
    font-size: 1.3rem;
  }
}

.block.testimonial {
  background-color: #fff;
  color: #262626;
}

.block.testimonial .row .col {
  margin: 0 auto;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  gap: 0.5rem;
}

.block.testimonial .row .col .name {
  color: #bede06;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 2em;
}

.block.testimonial .row .col .position {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1em;
}

.block.testimonial .row .col .quote {
  font-size: 5rem;
  color: #bede06;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */