body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.block.hero {
  position: relative;
  overflow: hidden;
}

.block.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
}

.block.hero .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block.hero .content {
  position: relative;
  padding-bottom: 120px;
  padding-left: 10px;
  margin: 0 auto;
  z-index: 10;
  max-width: 800px;
}

.block.hero .title {
  color: #ffce05;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4rem;
  line-height: 0.9em;
}

@media screen and (max-width: 500px) {
  .block.hero .title {
    font-size: 2.5rem;
  }
}

.block.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.services {
  color: #fff;
  background-color: #262626;
  padding: 4rem 1rem;
}

.block.services .services-header {
  max-width: 90ch;
}

.block.services .title {
  text-transform: uppercase;
  font-size: 2rem;
}

.block.services .services-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 2fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .block.services .services-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block.services h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0.1em;
}

.block.services h4.research {
  color: #ffce05;
}

.block.services h4.strategy {
  color: #9d5994;
}

.block.services h4.creative {
  color: #bede06;
}

.block.services .more-tab {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  max-width: 200px;
  padding: 1rem;
  margin: 100px auto 0 auto;
}

.block.services .flip-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: 10 0;
          transform-origin: 10 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 700px) {
  .block.services .flip-flex {
    -webkit-transform: none;
            transform: none;
  }
}

.block.services .see-more {
  text-transform: uppercase;
}

.block.case-studies {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

.block.case-studies .top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block.case-studies .top-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.case-studies .overlay {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0.7rem 1rem;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .block.case-studies .overlay {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block.case-studies .title {
  font-size: 3rem;
}

.block.case-studies .content {
  text-transform: uppercase;
}

.block.case-studies .case-name {
  color: white;
  position: relative;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.block.more-studies {
  position: relative;
  height: 40vh;
  margin-bottom: 5rem;
}

.block.more-studies .row {
  height: 40vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
}

.block.more-studies .subheader {
  background-color: #bede06;
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: right;
  font-size: 3rem;
  padding: 2rem;
}

.block.more-studies .content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
  position: relative;
  bottom: 50;
  left: 0;
  z-index: 10;
  padding: 0.9rem;
}

.block.more-studies img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.more-studies .hide-mobile {
  display: block;
}

@media screen and (max-width: 900px) {
  .block.more-studies .hide-mobile {
    display: none;
  }
  .block.more-studies .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block.blog-teasers {
  position: relative;
  margin-bottom: 1rem;
}

.block.blog-teasers .teasers-header {
  padding: 2rem;
}

.block.blog-teasers .title {
  font-size: 2.5rem;
}

.block.blog-teasers .content {
  max-width: 90ch;
}

.block.blog-teasers .teasers {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (25%)[3];
      grid-template-columns: repeat(3, 25%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  .block.blog-teasers .teasers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block.blog-teasers img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.block.blog-teasers .teaser-deets {
  position: relative;
  width: 100%;
  height: 100%;
}

.block.blog-teasers .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(71, 196, 242, 0.5);
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.block.blog-teasers .more-news {
  text-align: right;
  padding: 1rem;
  text-transform: uppercase;
  font-style: italic;
}

.block.logo-gallery {
  position: relative;
  background-color: #262626;
  color: #fff;
  padding: 0.5rem;
}

.block.logo-gallery .logo-header {
  padding: 1rem;
}

.block.logo-gallery .title {
  color: #bede06;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.block.logo-gallery .logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.block.logo-gallery .logo-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 900px) {
  .block.logo-gallery .logo-box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .block.logo-gallery .logo-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.block.more-news {
  color: #fff;
}

.block.more-news .culture {
  background-color: #bede06;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

.block.more-news .title {
  font-size: 2.5rem;
  font-weight: lighter;
}

.block.more-news .content {
  text-transform: uppercase;
  max-width: 500px;
}

.block.more-news .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 700px) {
  .block.more-news .photos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .block.more-news .culture {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.block.more-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.more-news .news-blurb p {
  z-index: 99;
  color: #fff;
}

footer {
  background-color: #262626;
  color: #fff;
  padding: 2rem;
}

footer .row {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 700px) {
  footer .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer .contact-info {
  color: #bede06;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-icons span {
  display: block;
  padding: 0.1rem 1rem;
}

footer .contact-title {
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer .privacy {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */