// GLOBAL

@mixin screen-protector($color, $opacity) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color;
  z-index: 1;
  opacity: $opacity;
}

@mixin hover-overlay() {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $dark;
  z-index: 20;
  opacity: 0.5;
}

@mixin image-fill($fit) {
  width: 100%;
  height: 100%;
  object-fit: $fit;
  object-position: center;
}

$dark: #262626;
$light: #fff;
$yellow: #ffce05;
$green: #bede06;
$blue: #47c4f2;
$orange: #ed771a;
$purp: #9d5994;

.orange {
  color: $orange;
}
.purp {
  color: $purp;
}
.green {
  color: $green;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 3em;
}

p {
  line-height: 1.8em;
}

.wrapper {
  margin: auto;
}

.block.hero {
  position: relative;
  overflow: hidden;
  &:before {
    @include screen-protector($dark, 0.3);
  }
  .row {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    .col.image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      img {
        @include image-fill(cover);
      }
    }
    .col.content {
      position: relative;
      margin: 0 auto;
      z-index: 10;
      max-width: 800px;
      .title {
        color: $yellow;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 4rem;
        line-height: 1em;
      }
      @media screen and (max-width: 500px) {
        .title {
          font-size: 2.5rem;
        }
      }
    }
  }

  &.style-2 {
    // ABOUT, TESTIMONIALS PAGES
    .row {
      .col.content {
        color: $light;
        background-color: rgba($dark, 0.7);
        z-index: 99;
        position: relative;
        width: 100vw;
        max-width: 100%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        @media screen and (max-width: 700px) {
          flex-direction: column;
          gap: 1rem;
        }
        .title {
          color: $light;
          text-transform: uppercase;
          font-weight: lighter;
          font-size: 3rem;
          line-height: 1em;
        }
        .description {
          width: 50%;
          max-width: 70ch;
        }
      }
    }
  }
  &.style-3 {
    // CASE STUDY PAGE
    .row {
      .col.content {
        color: $light;
        background-color: rgba($purp, 0.7);
        z-index: 99;
        position: relative;
        width: 100vw;
        max-width: 100%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 1rem;
        .title {
          color: $light;
          text-transform: none;
          font-weight: lighter;
          font-size: 3rem;
          line-height: 1em;
        }
        .description {
          max-width: 70ch;
        }
      }
      .col.content > * {
        margin: 0.5rem;
        padding-left: 5rem;
        @media screen and (max-width: 700px) {
          padding-left: 0;
        }
      }
    }
  }
}

footer {
  background-color: $dark;
  color: $light;
  padding: 2rem;
  .row {
    margin: 0 auto;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
  .contact-info {
    color: $green;
  }
  .social-icons {
    display: flex;
    span {
      display: block;
      padding: 0.1rem 1rem;
    }
  }
  .contact-title {
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  .privacy {
    text-transform: uppercase;
  }
}

// INDEX

.block.services {
  color: $light;
  background-color: $dark;
  padding: 4rem 1rem;
  .row {
    &.services-header {
      max-width: 70ch;
    }
    &.services-info {
      display: flex;
      gap: 1rem;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
      .col {
        .title {
          text-transform: uppercase;
          font-size: 1.5rem;
          line-height: 1em;
        }
      }
      .col.more-tab {
        background-color: rgba(0, 0, 0, 0.7);
        height: 150px;
        width: 150px;
        padding: 1rem;
        margin: 100px auto 0 auto;
      }
      .flip-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: 10 0;
        transform: rotate(90deg);
      }
      @media screen and (max-width: 900px) {
        .flip-flex {
          transform: none;
        }
      }
      .see-more {
        text-transform: uppercase;
      }
    }
  }
}

.block.case-studies {
  position: relative;
  overflow: hidden;
  height: 70vh;
  .row {
    .col.image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .col.overlay {
      color: $light;
      background-color: rgba(0, 0, 0, 0.7);
      position: relative;
      padding: 0.7rem 1rem;
      z-index: 10;
      gap: 2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    @media screen and (max-width: 700px) {
      .overlay {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
    .title {
      font-size: 3rem;
      line-height: 1em;
    }
    .content {
      text-transform: uppercase;
      max-width: 70ch;
    }
    .case-name {
      color: white;
      position: relative;
      width: 90%;
      height: 80%;
      display: flex;
      justify-content: right;
      align-items: center;
      z-index: 10;
    }
  }
}

.block.more-studies {
  position: relative;
  .row {
    height: 40vh;
    display: flex;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    .col.subheader {
      background-color: $green;
      padding: 2rem;
      min-height: 30vh;
      min-width: 350px;
      .title {
        color: $light;
        font-weight: lighter;
        text-transform: uppercase;
        text-align: right;
        font-size: 3rem;
        line-height: 1em;
      }
    }
    .col.hide-mobile {
      display: block;
      @media screen and (max-width: 900px) {
        display: none;
      }
      .image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      img {
        @include image-fill(cover);
      }
      .content {
        color: $light;
        text-transform: uppercase;
        position: relative;
        z-index: 51;
        padding: 0.9rem;
        bottom: 0;
        left: 0;
        &:before {
          @include hover-overlay();
        }
      }
    }
  }
}

.block.blog-teasers {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  .row {
    .col.teasers-header {
      .title {
        font-size: 2.5rem;
        margin-left: 4rem;
      }
      .content {
        max-width: 90ch;
      }
    }
  }
  .row.teasers {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    max-width: 800px;
    justify-content: center;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    .col.teaser-deets {
      position: relative;
      width: 100%;
      height: 100%;
      .headline {
        display: flex;
        align-items: flex-end;
        color: $light;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99;
        &:before {
          @include screen-protector($blue, 0.4);
        }
      }
      img {
        position: relative;
        @include image-fill(cover);
      }
    }
    .more-news {
      text-align: right;
      padding: 2rem;
      text-transform: uppercase;
      font-style: italic;
    }
  }
}

.block.logo-gallery {
  position: relative;
  background-color: $dark;
  color: $light;
  padding: 0.7rem;
  .row.logo-header {
    padding: 1rem;
    .col {
      .title {
        color: $green;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: lighter;
      }
    }
  }
  .logo-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .logo-box {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 900px) {
    .logo-box {
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }
  }
  @media screen and (max-width: 500px) {
    .logo-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.block.more-news {
  position: relative;
  color: $light;
  .row {
    .col.culture {
      background-color: $green;
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
      .title {
        font-size: 2.5rem;
        font-weight: lighter;
        line-height: 1em;
        width: 100%;
      }
      .content {
        text-transform: uppercase;
        max-width: 500px;
      }
    }
  }
  .row.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
    .col.news-blurb {
      .headline {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99;
        color: $light;
        &:before {
          @include screen-protector($blue, 0.4);
        }
      }
    }
    img {
      position: relative;
      z-index: 0;
      @include image-fill(cover);
    }
  }
}

// ABOUT & SERVICES

.block.checkerbox {
  .details {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    .subheader {
      font-size: 2rem;
    }
    .tags {
      font-weight: bold;
    }
    &.light {
      background-color: $light;
      color: $dark;
    }
    &.dark {
      background-color: $dark;
      color: $light;
      &.reverse {
        flex-direction: row-reverse;
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
      }
    }
    .content {
      padding: 1rem;
      align-self: center;
    }
    img {
      @include image-fill(cover);
    }
  }
}

// ABOUT

.block.text-box {
  padding: 1rem;

  .row {
    .col {
      .title {
        font-size: 2rem;
      }
      .text {
        max-width: 70ch;
      }
    }
  }
}

.block.rainbow-box {
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
    .col {
      color: $light;
      height: 40vh;
      &.green {
        background: $green;
      }
      &.blue {
        background: $blue;
      }
      &.yellow {
        background: $yellow;
      }
      &.orange {
        background: $orange;
      }
    }
  }
}

.block.people {
  .row {
    display: grid;
    gap: 4rem;
    padding: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
    .col.person {
      .image {
        max-width: 100%;
        img {
          @include image-fill(cover);
        }
      }
      .content {
        margin: 0 auto;
        .name,
        .position {
          text-align: center;
          padding: 0;
          line-height: 1em;
        }
      }
    }
  }
}
// SERVICES

.block.services-hero {
  color: $dark;
  background-color: $green;
  height: 100vh;
  font-weight: lighter;
  .row {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    .col {
      .headline {
        max-width: 8ch;
        font-size: 3rem;
        line-height: 1em;
        text-transform: uppercase;
        font-weight: lighter;
        padding: 2rem 0;
      }
      .services-about {
        font-size: 2rem;
        @media screen and (max-width: 700px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}

// TESTIMONIALS

.block.testimonial {
  background-color: $light;
  color: $dark;
  .row {
    .col {
      margin: 0 auto;
      padding: 1rem;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      gap: 0.5rem;
      .name {
        color: $green;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 2em;
      }
      .position {
        font-weight: bold;
        font-size: 0.8rem;
        line-height: 1em;
      }
      .quote {
        font-size: 5rem;
        color: $green;
        padding: 2rem;
      }
    }
  }
}

// CASE STUDY

.block.mega-grid {
  .row {
    .col {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 200px);
      grid-template-areas:
        "one   two   three three"
        "four  four  five  seven"
        "four  four  six   seven"
        "eight eight nine  ten";
      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 400px);
        grid-template-areas:
          "one   two"
          "three three"
          "four  four"
          "four  four"
          "five  seven"
          "six   seven"
          "eight eight"
          "nine  ten";
      }
      @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
      }
      .one {
        grid-area: one;
      }
      .two {
        grid-area: two;
      }
      .three {
        grid-area: three;
      }
      .four {
        grid-area: four;
      }
      .five {
        grid-area: five;
      }
      .six {
        grid-area: six;
      }
      .seven {
        grid-area: seven;
      }
      .eight {
        grid-area: eight;
      }
      .nine {
        grid-area: nine;
      }
      .ten {
        grid-area: ten;
      }
    }
    .col > * {
      border: 2px solid red;
    }
  }
}
