$dark: #262626;
$light: #fff;
$yellow: #ffce05;
$green: #bede06;
$blue: #47c4f2;
$orange: #ed771a;
$purp: #9d5994;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.block.hero {
  position: relative;
  overflow: hidden;
  .row {
    display: flex;
    align-items: flex-end;
    height: 100vh;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .content {
    position: relative;
    padding-bottom: 120px;
    padding-left: 10px;
    margin: 0 auto;
    z-index: 10;
    max-width: 800px;
  }
  .title {
    color: $yellow;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 4rem;
    line-height: 0.9em;
  }
  @media (max-width: 500px) {
    .title {
      font-size: 2.5rem;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.block.services {
  color: $light;
  background-color: $dark;
  padding: 4rem 1rem;
  .services-header {
    max-width: 90ch;
  }
  .title {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .services-info {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    gap: 10px;
  }
  @media (max-width: 700px) {
    .services-info {
      grid-template-columns: 1fr;
    }
  }
  h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 0.1em;
    &.research {
      color: $yellow;
    }
    &.strategy {
      color: $purp;
    }
    &.creative {
      color: $green;
    }
  }
  .more-tab {
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    max-width: 200px;
    padding: 1rem;
    margin: 100px auto 0 auto;
  }
  .flip-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: 10 0;
    transform: rotate(90deg);
  }
  @media (max-width: 700px) {
    .flip-flex {
      transform: none;
    }
  }
  .see-more {
    text-transform: uppercase;
  }
}

.block.case-studies {
  position: relative;
  overflow: hidden;
  height: 70vh;
  .top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .overlay {
    color: $light;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 0.7rem 1rem;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  @media (max-width: 700px) {
    .overlay {
      grid-template-columns: 1fr;
    }
  }
  .title {
    font-size: 3rem;
  }
  .content {
    text-transform: uppercase;
  }
  .case-name {
    color: white;
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 10;
  }
}

.block.more-studies {
  position: relative;
  height: 40vh;
  margin-bottom: 5rem;
  .row {
    height: 40vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .subheader {
    background-color: $green;
    color: $light;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: right;
    font-size: 3rem;
    padding: 2rem;
  }
  .content {
    background-color: rgba(0, 0, 0, 0.5);
    color: $light;
    text-transform: uppercase;
    position: relative;
    bottom: 50;
    left: 0;
    z-index: 10;
    padding: 0.9rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .hide-mobile {
    display: block;
  }
  @media (max-width: 900px) {
    .hide-mobile {
      display: none;
    }
    .row {
      grid-template-columns: 1fr;
    }
  }
}

.block.blog-teasers {
  position: relative;
  margin-bottom: 1rem;
  .teasers-header {
    padding: 2rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .content {
    max-width: 90ch;
  }
  .teasers {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
  img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: scale-down;
    object-position: center;
  }
  .teaser-deets {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .headline {
    display: flex;
    align-items: flex-end;
    background-color: rgba($blue, 0.5);
    color: $light;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
  }
  .more-news {
    text-align: right;
    padding: 1rem;
    text-transform: uppercase;
    font-style: italic;
  }
}

.block.logo-gallery {
  position: relative;
  background-color: $dark;
  color: $light;
  padding: 0.5rem;
  .logo-header {
    padding: 1rem;
  }
  .title {
    color: $green;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
  }
  .logo-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .logo-box {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
  }
  @media (max-width: 900px) {
    .logo-box {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 500px) {
    .logo-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.block.more-news {
  color: $light;
  background-color: $green;
  .culture {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 10px;
    padding-left: 120px;
  }
  .photos {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

footer {
  background-color: $dark;
  color: $light;
  .row {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}
