body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.block.hero {
  position: relative;
  overflow: hidden;
}

.block.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
}

.block.hero .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block.hero .content {
  position: relative;
  padding-bottom: 120px;
  padding-left: 10px;
  margin: 0 auto;
  z-index: 10;
  max-width: 800px;
}

.block.hero .title {
  color: #ffce05;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4rem;
  line-height: 0.9em;
}

.block.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.services {
  color: #fff;
  background-color: #262626;
  padding: 4rem 4rem;
}

.block.services .row {
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: "head" "one" "two" "three" "more";
}

.block.services .services-header {
  max-width: 90ch;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}

.block.services .title {
  text-transform: uppercase;
  font-size: 2rem;
}

.block.services .service-one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

.block.services .service-two {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: two;
}

.block.services .service-one {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: three;
}

.block.services h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0.1em;
}

.block.services h4.research {
  color: #ed771a;
}

.block.services h4.strategy {
  color: #9d5994;
}

.block.services h4.creative {
  color: #bede06;
}

.block.services .more-tab {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  padding: 1rem;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: more;
}

.block.services .chevron {
  font-size: 3rem;
}

.block.case-studies {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

.block.case-studies .top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block.case-studies .top-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.case-studies .overlay {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  position: relative;
  padding: 0.7rem 4rem;
  z-index: 10;
}

.block.case-studies .title {
  font-size: 3rem;
}

.block.case-studies .content {
  text-transform: uppercase;
}

.block.more-studies {
  position: relative;
  overflow: hidden;
}

.block.more-studies .subheader {
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  background-color: #bede06;
  text-align: right;
  width: 100%;
}

.block.more-studies .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
}

.block.more-studies .content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10vh;
}

.block.more-studies img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.blog-teasers .teasers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[3];
      grid-template-columns: repeat(3, 25%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block.blog-teasers img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.block.logo-gallery {
  background-color: #262626;
  color: #fff;
}

.block.logo-gallery .title {
  color: #bede06;
}

.block.logo-gallery .logo-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15%)[6];
      grid-template-columns: repeat(6, 15%);
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
}

.block.more-news {
  color: #fff;
  background-color: #bede06;
}

.block.more-news .culture {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  padding-bottom: 10px;
  padding-left: 120px;
}

.block.more-news .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
}

.block.more-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer {
  background-color: #262626;
  color: #fff;
}

footer .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
}
/*# sourceMappingURL=style.css.map */