.block.services {
  color: $light;
  background-color: $dark;
  padding: 4rem 4rem;
  .row {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "head"
      "one"
      "two"
      "three"
      "more";
  }
  .services-header {
    max-width: 90ch;
    grid-area: head;
  }
  .title {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .service-one {
    grid-area: one;
  }
  .service-two {
    grid-area: two;
  }
  .service-one {
    grid-area: three;
  }
  h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 0.1em;
    &.research {
      color: $orange;
    }
    &.strategy {
      color: $purp;
    }
    &.creative {
      color: $green;
    }
  }
  .more-tab {
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    padding: 1rem;
    grid-area: more;
  }
  .chevron {
    font-size: 3rem;
  }
  //.see-more {
  //transform-origin: 10 0;
  //transform: rotate(90deg);
  //text-transform: uppercase;
  //}

  @media (min-width: 500px) {
    .row {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "head head head head"
        "one two three more-tab";
    }
  }
  @media (min-width: 700px) {
    .row {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "head head head head"
        "one two three more-tab";
    }
  }
}